body {
  background-image: url("pattern.jpg");
  background-repeat: repeat;

}

h1 {
  text-align: center;
  color: white;
}

img {
  width: 300px;
  height: 200px;
}

figcaption {
  color: white;
}

figure {
  margin-left: auto;
  margin-right: auto;
}


div.mini {
  width: 350px;
  height: 250px;
  background-color: red;
  text-align: center;
  padding-top: 20px;
  margin: 10px;

  display: inline-block;
}

div.main {
  width: 1120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-size: 15px;
  color: white;
}

div.paragraph {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 107px;
  height: 115px;
  padding-bottom: 8px;
}

img.fixed {
  width: 107px;
  height: 107px;
}
